@model AdonetExample.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h1>Are you sure you want delete record?</h1>

@Model.EmpName<br />
@Model.EmpSalary<br />


<form action="~/Home/Delete/@Model.EmpId"  method="post">
    <input type="submit"  value="Delete"/>
</form>